div.LandingPage > div.introduction-section {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.LandingPage > div.introduction-section > div.introduction-section-01 {
  display: block;
}

div.LandingPage > div.introduction-section > div.introduction-section-01 > h1 {
  font-size: 64px;
  color: var(--app-color-black);
}

div.LandingPage > div.introduction-section > div.introduction-section-01 > div.button_layer-vertical {
  margin-top: 1em;
  width: 34%;
}

div.LandingPage > div.introduction-section > div.introduction-section-01 > div.button_layer-vertical > button {
  margin-top: 1.4em;
}

div.LandingPage > div.introduction-section > div.introduction-section-01 > div.button_layer-vertical > button * {
  color: inherit;
}

div.LandingPage > div.introduction-section > div.introduction-section-02 > img {
  width: 560px;
}

div.LandingPage > div.why-growmine-section {
  margin-top: 16em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > p {
  margin-top: 1.4em;
  width: 80%;
  text-align: justify;
  color: var(--app-color-black);
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > h2 {
  font-size: 36px;
  color: var(--app-color-black);
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > h2 > text {
  color: var(--app-color-blue);
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 div.button_layer-horizontal {
  margin-top: 1em;
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 div.button_layer-horizontal > button {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 div.button_layer-horizontal > button > i {
  margin-left: 12px;
}

div.LandingPage > div.why-growmine-section > div.why-growmine-section-02 > video#mentor-video {
  width: 600px;
  height: 100%;
}

div.LandingPage > div.global-community-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 16em;
}

div.LandingPage > div.global-community-section > div.global-community-section-01 {
  text-align: right;
}

div.LandingPage > div.global-community-section > div.global-community-section-01 > p {
  margin-top: 1.4em;
  margin-left: 4em;
  text-align: right;
  color: var(--app-color-black);
}

div.LandingPage > div.global-community-section > div.global-community-section-01 > h2 {
  font-size: 36px;
  color: var(--app-color-black);
}

div.LandingPage > div.global-community-section > div.global-community-section-01 > h2 > text {
  color: var(--app-color-blue);
}

div.LandingPage > div.global-community-section > div.global-community-section-01 > div.button_layer-horizontal {
  display: inline-block;
  margin-top: 1em;
}

div.LandingPage > div.global-community-section > div.global-community-section-01 > div.button_layer-horizontal > button {
  margin-left: 1em;
}

div.LandingPage > div.global-community-section > div.global-community-section-02 > img#global-community-image {
  width: 650px;
  -webkit-box-shadow: 4px 4px 24px rgba(128, 128, 128, 0.264);
          box-shadow: 4px 4px 24px rgba(128, 128, 128, 0.264);
}

@media screen and (max-width: 1255px) {
  div.LandingPage > div.introduction-section {
    display: block;
  }
  div.LandingPage > div.introduction-section > div.introduction-section-01 {
    text-align: center;
  }
  div.LandingPage > div.introduction-section > div.introduction-section-01 > h1 {
    font-size: 42px;
    padding: 0.4em;
  }
  div.LandingPage > div.introduction-section > div.introduction-section-01 > div.button_layer-vertical {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
  }
  div.LandingPage > div.introduction-section > div.introduction-section-02 {
    margin-top: 6em;
    text-align: center;
  }
  div.LandingPage > div.introduction-section > div.introduction-section-02 > img {
    width: 360px;
  }
  div.LandingPage > div.why-growmine-section {
    display: block;
    margin-top: 4em;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 {
    text-align: center;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > h2 {
    padding: 0.4em;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 90%;
    padding: 0.4em;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > div.button_layer-horizontal {
    margin-right: auto;
    margin-left: auto;
    display: -ms-inline-grid;
    display: inline-grid;
    width: 60%;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-01 > div.button_layer-horizontal > button {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-02 {
    margin-top: 4em;
    text-align: center;
  }
  div.LandingPage > div.why-growmine-section > div.why-growmine-section-02 > video#mentor-video {
    width: 400px;
  }
  div.LandingPage > div.global-community-section {
    display: block;
    margin-top: 6em;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-01 {
    text-align: center;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-01 > p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80%;
    padding: 0.4em;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-01 > div.button_layer-horizontal {
    margin-right: auto;
    margin-left: auto;
    display: -ms-inline-grid;
    display: inline-grid;
    width: 60%;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-01 > div.button_layer-horizontal > button {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-02 {
    text-align: center;
  }
  div.LandingPage > div.global-community-section > div.global-community-section-02 > img#global-community-image {
    width: 400px;
  }
}
/*# sourceMappingURL=LandingPage.css.map */