@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("_variables/variables.css");
@import url("Explore/Explore.css");
@import url("Home/Home.css");
@import url("LandingPage/LandingPage.css");
@import url("Profile/MentorProfile/MentorProfile.css");
@import url("Profile/CommunityProfile/CommunityProfile.css");
@import url("UserAuthentication/CreateAccount_Community/CreateAccount_Community.css");
@import url("UserAuthentication/CreateAccount_Mentor/CreateAccount_Mentor.css");
@import url("UserAuthentication/LoginPage/LoginPage.css");
@import url("../Components/Header/Header.css");
@import url("../Components/Footer/Footer.css");
* {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

body {
  color: inherit;
  line-height: 1.3;
  text-decoration: none !important;
  background-color: var(--app-color-white);
  font-family: var(--app-font);
}

.appContainer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1360px;
}

.primaryButton {
  padding: 14px;
  border: none;
  font-family: inherit;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  background: linear-gradient(95.34deg, #001AFF -3.12%, rgba(125, 138, 255, 0.89) 145.48%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.primaryButton:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow-bottom: 5px #001aff4d;
  -moz-box-shadow: 0px 3px 3px #001aff4d;
  -webkit-box-shadow: 0px 3px 3px #001aff4d;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

.secondaryButton {
  padding: 14px;
  border: 1px solid;
  border-color: var(--app-color-blue);
  font-family: inherit;
  color: var(--app-color-blue);
  font-weight: 600;
  border-radius: 4px;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.secondaryButton:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow-bottom: 5px #001aff4d;
  -moz-box-shadow: 0px 3px 3px #001aff4d;
  -webkit-box-shadow: 0px 3px 3px #001aff4d;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

.solidButton {
  padding: 14px;
  border: none;
  font-family: inherit;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  background: var(--app-color-black);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.solidButton:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow-bottom: 5px #00000028;
  -moz-box-shadow: 0px 3px 3px #00000028;
  -webkit-box-shadow: 0px 3px 3px #00000028;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

.button_layer-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_layer-vertical {
  display: -ms-grid;
  display: grid;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */